div {
    border: 3px solid #FFCC00;
}

div::before {
    content: "Info";
    background-color: #FFCC00;
}

div::after {
    content: "\2665";
    
}

div::selection {
    background-color: #FFCC00;
    color: aquamarine;
}